div{
    height:100px;
    width:100px;
    background-image:url("WIN_20260723_12_38_53_Pro.jpg");
    background-size: cover;
    position:fixed;
    right:0px;
    top:0px;
    color:white;

}
    



