body{
    background-color:pink;
}
h3{
    color:rgb(0,0,255);
}
button{
    color:fuchsia;
    background-color:lightblue;
}


<!--RGB color codes

color:rgb(255,0,0);//red
 from 0 to 255 
-->

<!--Hex color codes
we write hex color codes with 2 digits for each color component(r,g,b)
here 0 == 00 and 255 == ff
color:#ff0000;//red
color:#00ff00;//green
color:0000ff;//blue

-->
